<extend name="two/base" />
<block name="main"> 
<link href="__PUBLIC__/web/neibu/Style/StudentStyle.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/web/neibu/Script/jBox/Skins/Blue/jbox.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/web/neibu/Style/ks.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/web/neibu/Script/jBox/jquery-1.4.2.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/web/neibu/Script/jBox/jquery.jBox-2.3.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/web/neibu/Script/jBox/i18n/jquery.jBox-zh-CN.js" type="text/javascript"></script>
<script src="__PUBLIC__/web/neibu/Script/Common.js" type="text/javascript"></script>
<script src="__PUBLIC__/web/neibu/Script/Data.js" type="text/javascript"></script>
<script type="text/javascript">
    $().ready(function () {
        setStudMsgHeadTabCheck();
        showUnreadSysMsgCount();
    });

    //我的信息头部选项卡
    function setStudMsgHeadTabCheck() {
        var currentUrl = window.location.href;
        currentUrl = currentUrl.toLowerCase();
        var asmhm = "";
        $("#ulStudMsgHeadTab li").each(function () {
            asmhm = $(this).find('a').attr("href").toLowerCase();
            if (currentUrl.indexOf(asmhm) > 0) {
                $(this).find('a').attr("class", "tab1");
                return;
            }
        });
    }

    //显示未读系统信息
    function showUnreadSysMsgCount() {
        var unreadSysMsgCount = "0";
        if (Number(unreadSysMsgCount) > 0) {
            $("#unreadSysMsgCount").html("(" + unreadSysMsgCount + ")");
        }
    }

    //退出
    function loginOut() {
        if (confirm("确定退出吗？")) {
            StudentLogin.loginOut(function (data) {
                if (data == "true") {
                    window.location = "/Login.aspx";
                }
                else {
                    jBox.alert("退出失败！", "提示", new { buttons: { "确定": true} });
                }
            });
        }
    }
    //更改报考类别
    function changeCateory(thisObj, id) {
        var oldCateoryId = $("#cateoryId").val();
        var cateoryId = "";
        if (id != null) {
            cateoryId = id;
        }else{
            cateoryId = thisObj.val();
        }
        var studentId = $("#studentId").val();
        if (cateoryId.length <= 0) {
            jBox.tip("报考类别不能为空！");
            if (id == null) {
                thisObj.val(oldCateoryId);
            }
        }
        else {
            studentInfo.changeStudentCateory(cateoryId, function (data) {
                var result = $.parseJSON(data);
                if ((String(result.ok) == "true")) {
                    window.location.href = "/Index.aspx";
                }
                else {
                    jBox.tip(result.message);
                }
            });
        }
    }
</script>
<style type="text/css">
    td{text-align:center;}
</style>

<div class="page" style="width:90%;">
<div style="clear:both;"></div>
<div class="box mtop">
    <include file="member/left"/>

    <div class="rightbox">
                
<h2 class="mbx"><a href="{:U('member/lecturer_add')}">添加讲师信息</a></h2>
<div class="morebt">
</div>
<div class="cztable">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <th width="5%">序号<php>var_dump($_SESSION['homeuser'][member_auth]);</php></th>
            <th width="5%">讲师编号</th>
            <th width="5%">姓名</th>
            <th width="5%">性别</th>
            <th width="10%">机构</th>
            <th width="5%">所讲科目</th>
            <th width="10%">注册时间</th>
            <th width="8%">操作</th>
        </tr>
        <volist name="lecturer" id="shi">
        <tr>
            <td width="5%">{$shi['lecturer_id']}</td>
            <td width="5%">{$shi['numbering']}</td>
            <td width="5%">{$shi['realname']}</td>
            <td width="5%">
                <switch name="shi['sex']">
                    <case value="1">男</case>
                    <case value="2">女</case>
                </switch>
            </td>
            <td width="5%">{$shi['agencyrealname']}</td>
            <td width="10%">{$shi['subject']}</td>
            <td width="10%">{$shi['addtime']|date="Y-m-d",###}</td>
            <td width="8%">
                <a href="{:U('member/lecturer_edit',array('id'=>$shi['lecturer_id']))}">修改</a>
                <a href="{:U('member/common_del',array('id'=>$shi['lecturer_id'],'table'=>'lecturer','jump'=>'lecturer'))}">删除</a>
            </td>
        </tr>
        </volist>
    </table>
</div>


            </div>
        </div>
        <div class="footer">
           
        </div>
        <div style="clear:both;"></div>
    </div>
<script src="__PUBLIC__/web/neibu/Script/changeOption.js" type="text/javascript"></script>
<script src="__PUBLIC__/web/neibu/Script/rl.js" type="text/javascript"></script>
</block>