<extend name="public/base" />
<block name="main">
<div class="clear"></div>
<div class="slides">
  <!-- header END -->
  <div class="slide slide-2325" id="id_ec2647d10d904a86a9a153a6b3be60fe" data-slide_settings="{&quot;auto_center_width&quot;:&quot;1100px&quot;,&quot;auto_center_type&quot;:&quot;none&quot;}">
    <div class="s-root s-layout-a " style="border-top-style:solid; -webkit-animation-iteration-count:1; border-bottom-width:0px; -webkit-animation-duration:1s; padding-bottom:0px; padding-top:20px; border-top-width:0px; border-left-color:#DDD; background-size:cover; background-repeat:no-repeat; border-right-style:solid; padding-right:0px; border-left-style:solid; border-top-color:#DDD; background-position:50% 50%; border-bottom-color:#DDD; border-right-color:#DDD; animation-delay:0; z-index:0; animation-iteration-count:1; animation-duration:1s; border-bottom-style:solid; -webkit-animation-delay:0; border-right-width:0px; border-left-width:0px; padding-left:0px; ">
      <div class="s-container" style="max-width:1100px; margin-right:auto; margin-left:auto; ">
        <div no-link="true">
          <div class="mianbiaoxie d-legacy">
            <div class="b-macros-breadcrumb b-breadcrumb">
              <ol class="breadcrumb">
                <li>
                  <a class="u-cursor" href="/">首页</a></li>
                <li>
                  <a class="u-cursor">查询</a></li>
              </ol>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="slide slide-2421" id="id_671b6a4c136c477f9d5b5dfff3cfb29a" data-slide_settings="{&quot;auto_center_width&quot;:&quot;1100px&quot;,&quot;auto_center_type&quot;:&quot;none&quot;}">
    <div class="s-root s-layout-a " style="border-top-style:solid; background-position:50% 50%; border-left-color:#DDD; border-bottom-style:solid; background-size:cover; background-repeat:no-repeat; border-bottom-width:0px; border-right-color:#DDD; border-right-width:0px; border-right-style:solid; z-index:0; border-left-style:solid; padding-bottom:20px; border-top-color:rgb(221, 221, 221); border-top-width:0px; padding-top:20px; border-left-width:0px; border-bottom-color:rgb(221, 221, 221); ">
      <div class="s-container" style="background-size:cover; border-top-width:0px; border-left-color:#DDD; background-repeat:no-repeat; border-top-style:solid; border-left-width:0px; border-bottom-width:0px; border-right-color:#DDD; margin-right:auto; border-right-style:solid; border-right-width:0px; margin-left:auto; border-left-style:solid; border-bottom-style:solid; max-width:1100px; border-top-color:#DDD; background-position:50% 50%; border-bottom-color:#DDD; ">
        <div no-link="true">
          <link href="//cdn.bootcss.com/lightbox2/2.8.2/css/lightbox.min.css" rel="stylesheet">
          <script src="//cdn.bootcss.com/lightbox2/2.8.2/js/lightbox.min.js"></script>
          <div class="a-container">
          <include file="member/left"/>
            <div class="a-right">
              <div class="b-group-border2">
             <volist name='data' id='data'>
                <h4 class="a-head b-group-text2 b-group-border3">学籍查询<a href="{:U('member/schoolrolledit',array('id'=>$data[student_id]))}"><img src="/public/web/images/person_img2.png"/></a></h4>
				<div class="cjcx_td">
					<div class="td">

						<p class="sec"><span class="blue">学生学号</span><span>{$data.numeric}</span></p>
						<p class="sec"><span class="blue">姓名</span><span>{$data.realname}</span></p>
						<p class="sec"><span class="blue">性别</span><span><php>if($data[sex] == 1){echo '男';}else{echo '女';}</php></span></p>
						<p class="sec"><span class="blue">出生年月</span><span>{$data.birth}</span></p>
						<p class="sec"><span class="blue">身份证号</span><span>{$data.ids}</span></p>
						<p class="sec"><span class="blue">所在区域</span><span>{$data.region}</span></p>
						<p class="sec"><span class="blue">学历信息</span><span>{$data.education}</span></p>
						<p class="sec"><span class="blue">注册时间</span><span>{$data.zidingtime}</span></p>
            </volist>
            <br>
            <div class="b-group-border2">
            <h4 class="a-head b-group-text2 b-group-border3">密码修改<a href="{:U('member/pasedit',array('member_id'=>$huiyuanlst[member_id]))}"><img src="/public/web/images/person_img2.png"/></a></h4>
            <br>
            <!-- <p class="three blue"><span>所在机构</span><span>课程名</span><span>证书编号</span></p> -->
            <p class="sec"><span class="blue">账号</span><span>{$huiyuanlst.member_name}</span></p>
            <p class="sec"><span class="blue">密码</span><span><input type="text" name="member_password" value="******" /></span></p>
          </div>
            <!-- <volist name="dataa" id="v"> -->
            <!-- <p class="three"><span>{$v[agencyrealname]}</span><span>{$v[course]}</span><span>{$v[certifi_number]}</span></p> -->
            <!-- </volist> -->


					</div>
				</div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer START --></div>
<div class="footclear"></div>
</block>
