*{padding:0;margin:0}

#header{width:100%;height:30px;
		border:1px solid #aaa;margin:0 auto;color:#666}

#one_ul{ margin-left:400px}

ul{list-style:none;}


.li_one{float:left;width:120px; font-size:12px;}

a{text-decoration:none;color:#666;line-height:30px;}

a:hover{color:#FF3E96;}

#span{width:30px;background:#FF3E96;}

