<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>网站后台操作系统</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__PUBLIC__/web/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/web/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__PUBLIC__/web/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/web/assets/css/admin.css">
    <link rel="stylesheet" href="__PUBLIC__/web/assets/css/app.css">
    <script src="__PUBLIC__/web/assets/js/echarts.min.js"></script>
    <script src="__PUBLIC__/web/home/js/jquery-1.8.3.min.js"></script>
    <script src="__PUBLIC__/web/laydate/laydate.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/web/webuploader/webuploader.css">
    <!-- <script src="https://use.fontawesome.com/32151b905e.js"></script> -->
    <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <script src="__PUBLIC__/web/webuploader/webuploader.js"></script>
    <style type="text/css">

#page div{position: relative;padding-left: 0;margin: 1.5rem 0;list-style: none;color: #999;text-align: left;}
#page div a{color: #23abf0;border-radius: 3px;padding: 6px 12px;    position: relative;display:inline-block;text-decoration: none;line-height: 1.2;background-color: #fff;border: 1px solid #ddd;margin-bottom: 5px;margin-right: 5px;}
#page div span{background: #23abf0;color: #fff;border: 1px solid #23abf0;padding: 2px 12px;border-radius: 3px;display:inline-block;margin-right:5px;}
</style>
</head>

<body>
    <include file="public/header" />
    <div class="tpl-page-container tpl-page-header-fixed">
        <include file="public/sidebar" />

        <block name="main">

        </block>

    </div>
<script src="__PUBLIC__/web/assets/js/jquery.min.js"></script>
<script src="__PUBLIC__/web/assets/js/amazeui.min.js"></script>
<script src="__PUBLIC__/web/assets/js/iscroll.js"></script>
<script src="__PUBLIC__/web/assets/js/app.js"></script>


</body>

</html>
