<div class="neiye_foot">
	<div class="container">
		<div class="title"><img src="__PUBLIC__/{$navfooter['fujia_value']}"/></div>
		<div class="body">
			<div class="fl">
				<img src="__PUBLIC__/qingchunpao/home/img/neiye_foot_logo.png"/>
			</div>
			<div class="fr">
				<h3>何为YOUTH RUN 青春跑？</h3>
				<p>YOUTH RUN 青春跑，被誉为"地球上最欢乐5公里跑"，旨在宣传健康、快乐、大众参与的跑步理念。</p>
				<p>YOUTH RUN 青春跑是当今全球最大型的跑步系列活动，自创办以来发展迅猛。 2015年YOUTH RUN 青春跑彩色跑在全球35国家举办了超过225场跑步活动。</p>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>