<div class="fr">
	<h3>首席赞助商</h3>
	<ul>
		<!-- <volist name="chief" id="shou"> -->
		<li><a href="{$shou['srlink']}"><img src="__PUBLIC__/{$shou['srimg']}" width="auto" /></a></li>
		<!-- </volist> -->
	</ul>
	<h3>联合赞助商</h3>
	<ul>
		<!-- <volist name="union" id="lian"> -->
		<li><a href="{$lian['srlink']}"><img src="__PUBLIC__/{$lian['srimg']}"/></a></li>
		<!-- </volist> -->
	</ul>
	<h3>官方赞助商</h3>
	<ul>
		<!-- <volist name="officer" id="guan"> -->
		<li><a href="{$guan['srlink']}"><img src="__PUBLIC__/{$guan['srimg']}"/></a></li>
		<!-- </volist> -->
	</ul>
</div>