<extend name="public/base" />
<block name="main">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">美丽说店铺公告添加中心</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<div class="row">
		<div class="col-lg-6" style="margin-left:250px">
			<div class="panel panel-default" >
				<div class="panel-heading">公告添加</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<form action="{:U('Notice/insert')}" method="post" role="form">
						<div class="form-group has-success col-md-12">
							<label class="control-label" for="inputSuccess">公告内容</label>
							<textarea class="form-control" name="concent" rows="6"></textarea>
							<input type="hidden" name="tid" class="form-control" value="{$id}">
						</div>
						<button type="submit" class="btn btn-primary btn-lg  col-md-12">提交</button>
					</form>
					<!-- /.table-responsive -->
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-6 -->
	</div>
</block>