<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>注册界面</title>
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
<link rel="stylesheet" href="__PUBLIC__/web/assets1/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="__PUBLIC__/web/assets1/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="__PUBLIC__/web/assets1/css/form-elements.css">
<link rel="stylesheet" href="__PUBLIC__/web/assets1/css/style.css">
<script src="__PUBLIC__/web/assets1/js/jquery-1.11.1.min.js"></script>
<script src="__PUBLIC__/web/laydate/laydate.js"></script>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Favicon and touch icons -->
<style>
	#studio span{cursor:pointer;}
	.laydate_box, .laydate_box * {
        box-sizing:content-box;
    }
    #agency{display:none;}
</style>
</head>

<body>
<!-- Top content -->
        <div class="top-content">
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>注册</strong> Register </h1>
                            <div class="description">
                            	<p></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3 id="studio">
                        				注册
                        			</h3>
                            		<p>已有账号,请<a href="{:U('user/login')}">登录</a></p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-lock"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
                            	<!--学员注册-->
			                    <form role="form" action="{:U('user/register')}" method="post" class="login-form" id="student">
			                    	<input type="hidden" name="table" value="student">
			                    	<input type="hidden" name="jump" value="index">
			       
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-username">账号</label>
			                        	<input type="text"  name="member_name" placeholder="账号" class="form-username form-control Validform_error"  id="form-username">
			                        	<p></p>

			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">密码</label>
			                        	<input type="password" name="member_password" placeholder="密码" class="form-password form-control" id="form-password">
			                        	<p></p>
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">确认密码</label>
			                        	<input type="password" name="surepswd" placeholder="确认密码" class="form-password form-control" id="form-password">
			                        	<p></p>
			                        </div>

			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">用户组</label>
			                        	<select name="member_auth" id="" class="form-password form-control" style="height:50px;">
												<option value="2">学员</option>
												<option value="5">讲师</option>

			                        	</select>
			                        	<p></p>
			                        </div>

			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">认证码</label>
			                        	<input type="password" name="code" placeholder="身份证" class="form-password form-control" id="form-password">
			                        	<p></p>
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">编号</label>
			                        	<input type="password" name="number" placeholder="学员学号 | 讲师编号" class="form-password form-control" id="form-password">
			                        	<p></p>
			                        </div>


			                        <button type="submit" class="btn">注册</button>
			                    </form>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- Javascript -->
<script src="__PUBLIC__/web/assets1/bootstrap/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/web/assets1/js/jquery.backstretch.min.js"></script>
<script src="__PUBLIC__/web/assets1/js/scripts.js"></script>

<!--[if lt IE 10]>
    <script src="__PUBLIC__/web/assets1/js/placeholder.js"></script>
<![endif]-->
<script>
	$(function(){
		var ubool = false;
		var pbool = false;
		var sbool = false;
		var abool = false;
		var anumber = false;
		var aname = false;
		var username,pswd,sure,agencynumber,agencyrealname;
		$('input[name=member_name]').blur(function(){
			var that = $(this);
			var dd;
			ubool = false;
			username = $(this).val();
			if(username.length == 0){
				$(this).next('p').html('账号必须填写');
				return ubool = false;
			}else{
				$.ajax({  
			        type : 'get',  
			        url : "{:U('user/ajax_username')}",  
			        data : {"username":username},  
			        dataType : 'text',  
			        async: false,  
			        success : function(msg) {  
			            if(msg == 1){
							that.next('p').html(' ');
							ubool = true;
						}else{
							that.next('p').html('该用户名已被注册');
							ubool = false;
						} 
			        },    
			        error : function() {  
			        }  
			    });
			}
		})

		$('input[name=member_password]').blur(function(){
			pbool = false;
			pswd = $(this).val();
			if(pswd.length == 0){
				$(this).next('p').html('密码不得为空');
				return pbool = false;
			}else if(pswd.length < 6 || pswd.length > 18){
				$(this).next('p').html('密码位数必须在6到18位之间');
				return pbool = false;
			}else{
				$(this).next('p').html(' ');
				return pbool = true;
			}
		})
		
		$('input[name=surepswd]').blur(function(){
			sbool = false;
			sure = $(this).val();
			if(sure != pswd){
				$(this).next('p').html('两次密码不同');
				return sbool = false;
			}else{
				$(this).next('p').html(' ');
				return sbool = true;
			}
		})

		

		$('select[name=member_auth]').change(function(){
			abool = false;
		    aid = $(this).val();
			if(aid == 3){
				$('#agency').css('display','block');
			}else{
				$('#agency').css('display','none');
			}
			if(aid.length == 0){
				$(this).next('p').html('请选择所在用户组');
				return abool = false;
			}else{
				$(this).next('p').html(' ');
				return abool = true;
			}
		})

		$('input[name=agencynumber]').blur(function(){
			anumber = false;
			agencynumber = $(this).val();
			if(agencynumber.length == 0){
				$(this).next('p').html('请填写机构编号');
				return anumber = false;
			}else{
				$(this).next('p').html('');
				return anumber = true;
			}
		})

		$('input[name=agencyrealname]').blur(function(){
			aname = false;
			agencyrealname = $(this).val();
			if(agencyrealname.length == 0){
				$(this).next('p').html('请填写机构名称');
				return aname = false;
			}else{
				$(this).next('p').html('');
				return aname = true;
			}
		})

		$('.btn').click(function(){
			$('input[name=member_name]').blur();
			$('input[name=member_password]').blur();
			$('input[name=surepswd]').blur();
			$('select[name=member_auth]').change();
			console.log(ubool);
			if(aid == 3){
				$('input[name=agencynumber]').blur();
				$('input[name=agencyrealname]').blur();
				if(ubool && pbool && sbool && anumber && aname){
					return true;
				}else{
					return false;
				}
			}else{
				if(ubool && pbool && sbool){
					return true;
				}else{
					return false;
				}
			}

			
		})
	})
</script>
</body>
</html>