<extend name="public/base" />
<block name="main">  
<div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                套餐添加
            </div>
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
                <li><a href="#">套餐管理</a></li>
                <li class="am-active">套餐添加</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 添加
                    </div>
                    <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="portlet-input input-small input-inline">
                            <div class="input-icon right">
                                <i class="am-icon-search"></i>
                                <input type="text" class="form-control form-control-solid" placeholder="搜索..."> </div>
                        </div>
                    </div>


                </div>

                <div class="tpl-block">

                    <div class="am-g">
                        <div class="tpl-form-body tpl-form-line">
                            <form class="am-form tpl-form-line-form" enctype="multipart/form-data" method="post" action="">
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">所属活动 <span class="tpl-form-line-small-title"></span></label>
                                    <div class="am-u-sm-9">
                                            <select data-am-selected="{btnSize: 'sm'}" name="gid">
                                              <option value="option1">所有活动</option>
                                              <!-- <volist name="gda" id="gd"> -->
                                                <option value="{$gd['gid']}">{$gd['itemtime']}{$gd['gaddress']}</option>
                                              <!-- </volist> -->
                                            </select>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">套餐名称 <span class="tpl-form-line-small-title"></span></label>
                                    <div class="am-u-sm-9">
                                        <input type="text" name="packname" class="tpl-form-input" id="user-name" placeholder="套餐名称" value="">
                                    </div>
                                </div>
    
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">套餐价格 <span class="tpl-form-line-small-title"></span></label>
                                    <div class="am-u-sm-9">
                                        <input type="text" name="packprice" class="tpl-form-input" id="user-name" placeholder="套餐价格" value="">
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">套餐描述 <span class="tpl-form-line-small-title"></span></label>
                                    <div class="am-u-sm-9">
                                        <input type="text" name="packmess" class="tpl-form-input" id="user-name" placeholder="套餐描述" value="">
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="user-intro" class="am-u-sm-3 am-form-label">套餐说明</label>
                                    <div class="am-u-sm-9">
                                        <textarea class="" name="packinfo" rows="10" id="user-intro" placeholder="套餐说明"></textarea>
                                    </div>
                                </div>


                                <div class="am-form-group">
                                    <label for="user-weibo" class="am-u-sm-3 am-form-label">套餐图片 <span class="tpl-form-line-small-title">Images</span></label>
                                    <div class="am-u-sm-9">
                                        <div class="am-form-group am-form-file">
                                            <div class="tpl-form-file-img"></div>
                                            <button type="button" class="am-btn am-btn-danger am-btn-sm">
                                            <i class="am-icon-cloud-upload"></i> 添加封面图片</button>
                                            <input id="doc-form-file" name="packimg" type="file" multiple>
                                        </div>

                                    </div>
                                </div>




                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>


            </div>
</div>
</block>