<extend name="public/base" />
<block name="main">  
<div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                套餐修改
            </div>
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
                <li><a href="#">套餐管理</a></li>
                <li class="am-active">套餐修改</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 修改
                    </div>
                    <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="portlet-input input-small input-inline">
                            <div class="input-icon right">
                                <i class="am-icon-search"></i>
                                <input type="text" class="form-control form-control-solid" placeholder="搜索..."> </div>
                        </div>
                    </div>
                </div>

                <div class="tpl-block">

                    <div class="am-g">
                        <div class="tpl-form-body tpl-form-line">
                            <form class="am-form tpl-form-line-form" enctype="multipart/form-data" method="post" action="">
                                <input type="hidden" name="mc_id" value="{$data['mc_id']}">
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">歌手名称 <span class="tpl-form-line-small-title"></span></label>
                                    <div class="am-u-sm-9">
                                        <input type="text" name="mc_name" class="tpl-form-input" id="user-name" placeholder="歌手名称" value="{$data['mc_name']}">
                                    </div>
                                </div>

                               


                                <div class="am-form-group">
                                    <label for="user-weibo" class="am-u-sm-3 am-form-label">歌手logo <span class="tpl-form-line-small-title"></span></label>
                                    <div class="am-u-sm-9">
                                        <div class="am-form-group am-form-file">
                                            <div>
                                                <img src="__PUBLIC__/{$data['mc_logo']}" width="200px" alt="">
                                            </div>
                                            <button type="button" class="am-btn am-btn-danger am-btn-sm">
                                            <i class="am-icon-cloud-upload"></i> 添加歌手logo</button>
                                            <input id="doc-form-file" name="mc_logo" type="file" multiple>
                                        </div>
                                    </div>
                                </div>




                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>


            </div>
</div>
</block>