<extend name="public/base" />
<block name="main">
	 <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                网站附加信息管理
            </div>
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
                <li><a href="#">网站附加信息管理</a></li>
                <li class="am-active">网站附加信息修改</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 修改
                    </div>
                    <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="portlet-input input-small input-inline">
                            <div class="input-icon right">
                                <i class="am-icon-search"></i>
                                <input type="text" class="form-control form-control-solid" placeholder="搜索..."> </div>
                        </div>
                    </div>


                </div>

                <div class="tpl-block">

                    <div class="am-g">
                        <div class="tpl-form-body tpl-form-line">
                            <form class="am-form tpl-form-line-form" method="post" action="" enctype="multipart/form-data">
                            	<input type="hidden" name="fujia_id" value="{$data['fujia_id']}">
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">附加信息名称 <span class="tpl-form-line-small-title"></span></label>
                                    <div class="am-u-sm-9">
                                        <input type="text" name="fujia_info" class="tpl-form-input" id="user-name" placeholder="请输入基本信息名称" value="{$data['fujia_info']}">
                                    </div>
                                </div>                               

                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label">附加信息代码 <span class="tpl-form-line-small-title"></span></label>
                                    <div class="am-u-sm-9">
                                        <input type="text" name="fujia_key" placeholder="输入基本信息代码" value="{$data['fujia_key']}">
                                    </div>
                                </div>


                                <div class="am-form-group">
                                    <label for="user-weibo" class="am-u-sm-3 am-form-label">附加信息值 <span class="tpl-form-line-small-title"></span></label>
                                    <div class="am-u-sm-9">
                                        <div class="am-form-group am-form-file">
                                            <div class="tpl-form-file-img">
                                                <img src="__PUBLIC__/{$data['fujia_value']}" width="200px" alt="">
                                            </div>
                                            <button type="button" class="am-btn am-btn-danger am-btn-sm">
                                            <i class="am-icon-cloud-upload"></i> 添加附加信息值</button>
                                            <input id="doc-form-file" name="fujia_value" type="file" multiple>
                                        </div>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label">定位 <span class="tpl-form-line-small-title"></span></label>
                                    <div class="am-u-sm-9">
                                         <label class="am-radio-inline">
									        <input type="radio"  value="1" name="position" <if condition="$data['position'] eq 1"> checked</if>> 顶部
									      </label>
									      <label class="am-radio-inline">
									        <input type="radio" value="2" name="position" <if condition="$data['position'] eq 2"> checked</if>> 底部
									      </label>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>


            </div>
 </div>
</block>