<extend name="public/base" />
<block name="main">
<script src="__PUBLIC__/web/laydate/laydate.js"></script>
<style>
#studio span{cursor:pointer;}
.laydate_box, .laydate_box * {
    box-sizing:content-box;
}
</style>
<div class="tpl-content-wrapper">
    <div class="tpl-content-page-title">
        学生证书修改
    </div>
    <ol class="am-breadcrumb">
        <li><a href="{:U('index/index')}" class="am-icon-home">首页</a></li>
        <li><a href="{:U('member/certifi')}">学生证书管理</a></li>
        <li class="am-active">学生证书修改</li>
    </ol>
    <div class="tpl-portlet-components">
        <div class="portlet-title">
            <div class="caption font-green bold">
                <span class="am-icon-code"></span> 修改
            </div>
            <div class="tpl-portlet-input tpl-fz-ml">
                <!-- <div class="portlet-input input-small input-inline">
                    <div class="input-icon right">
                        <i class="am-icon-search"></i>
                        <input type="text" class="form-control form-control-solid" placeholder="搜索..."> </div>
                </div> -->
            </div>
        </div>

        <div class="tpl-block">

            <div class="am-g">
                <div class="tpl-form-body tpl-form-line">
                    <form class="am-form tpl-form-line-form" enctype="multipart/form-data" method="post" action="{:U('member/certifi_edit')}">
                    <input type="hidden" name="table" value="certifi">
                    <input type="hidden" name="jump" value="certifi">
                        <input type="hidden" name='certifi_id' value="{$data['certifi_id']}">


                        <input type="hidden" name="auth" value="2">

                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">身份证 <span class="tpl-form-line-small-title"></span></label>
                            <div class="am-u-sm-9">
                                <input type="text" name="ids" class="tpl-form-input" id="user-name" onfocus="this.blur()" placeholder="证书编号" value="{$data['ids']}"><P></P>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">证书编号 <span class="tpl-form-line-small-title"></span></label>
                            <div class="am-u-sm-9">
                                <input type="text" name="certifi_number" class="tpl-form-input" id="user-name" placeholder="证书编号" value="{$data['certifi_number']}"><P></P>
                            </div>
                        </div>


                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">学生姓名 <span class="tpl-form-line-small-title"></span></label>
                            <div class="am-u-sm-9">
                                <input type="text" name="student_name" class="tpl-form-input" id="user-name" placeholder="学生姓名" value="{$data['student_name']}"><P></P>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">证书期限 <span class="tpl-form-line-small-title"></span></label>
                            <div class="am-u-sm-9">
                                <input type="text" name="certifi_time" class="tpl-form-input" id="user-name" placeholder="证书期限" value="{$data['certifi_time']}">
                            </div>
                        </div>


                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">所在机构 <span class="tpl-form-line-small-title"></span></label>
                            <div class="am-u-sm-9">
                                <!-- <select name="agency" id="">
                                     <volist name="agency_datas" id="vo">
                                        <option value="{$vo.agency_id}" <if condition="$vo[agency_id] eq $data['agency_id']">selected<else />
                                        </if>
                                        >{$vo.agencyrealname}</option>
                                    </volist>


                                </select> -->
                                <volist name="ass" id="auth">
                            <label class="am-checkbox-inline">
                                <input type="checkbox" name="subject_id[]" value="{$auth['subject_id']}"
                                    <if condition="$group_data['is_array'] eq 1">
                                        <volist name="group_data['subject_id']" id="th">
                                            <if condition="$auth['subject_id'] eq $th">
                                                checked
                                            </if>
                                        </volist>
                                    <else/>
                                        <if condition="$auth['subject_id'] eq $group_data['subject_id']">
                                            checked
                                        </if>
                                    </if>> {$auth['agencyrealname']}--{$auth['subject_name']}
                            </label>
                            </volist>
                            <!-- 其他机构 -->
                            <volist name="abb" id="auth">
                            <label class="am-checkbox-inline">
                                <input type="checkbox" onclick="return false;" name="subject_id[]" value="{$auth['subject_id']}"
                                    <if condition="$group_data['is_array'] eq 1">
                                        <volist name="group_data['subject_id']" id="th">
                                            <if condition="$auth['subject_id'] eq $th">
                                                checked
                                            </if>
                                        </volist>
                                    <else/>
                                        <if condition="$auth['subject_id'] eq $group_data['subject_id']">
                                            checked
                                        </if>
                                    </if>> <span style="color:#CCCCCC;">{$auth['agencyrealname']}--{$auth['subject_name']}</span>
                            </label>
                            </volist>

                            </div>
                        </div>



                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-3">
                                <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>


    </div>
</div>

<script type="text/javascript">
    $(function(){
        var realname = false;
        var numeric = false;
        var ids = false;
        //验证姓名
        $('input[name=student_name]').blur(function(){
            var na = $(this).val();
            if(na.length <= 1){
                $(this).next().html('*姓名不能为空！');
                return realname = false;
            }else{

                $(this).next().html('');
                return realname = true;
            }
        })

        //验证编号
        $('input[name=certifi_number]').blur(function(){
            var nu = $(this).val();
            if(nu.length <= 9){
                $(this).next().html('*编号格式不正确！');
                return numeric = false;
            }else{

                $(this).next().html('');
                return numeric = true;
            }
        })
        //验证身份证
        $('input[name=ids]').blur(function(){
            var id = $(this).val();
            if(id.length != 18){

                $(this).next().html('*身份证格式不正确！');
                return ids = false;
            }else{

                $(this).next().html('');
                return ids = true;
            }
        })


        //限制 SUBMIT
        $('.am-btn').click(function(){
            $('input[name=student_name]').blur();
            $('input[name=certifi_number]').blur();
            $('input[name=ids]').blur();
            if(realname && numeric && ids){
                return true;
            }else{
                return false;
            }
        })
    })
</script>


</block>
